*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(25deg, #8600b3 50%, #cc33ff 50%); */
}
.Amount{
    text-align: left;
    display: flex;
    flex-direction: column;

}
.contain{
    outline: 2px solid green;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 100px;
    box-sizing: border-box;
    height: 50vh;
    display: flex;
    border-radius: 20px;
    background: rgb(219, 219, 226);

}
.contain1 {
    display: flex;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
    background-color: aliceblue;
    border: 2px solid green;
    box-shadow: -2px 0px 3px;
}
.contain2{
    border-radius: 1px 0px 0px 60px;
    background: rgb(22, 22, 117);
    border: 2px solid red;
}
.input-field{
    padding: 4px;
}
form{
    margin: 30px;
}
.input-icon .fa-solid{
    position: absolute;
    padding: 5px;
    background-color:antiquewhite;
    min-width: 8px;
    color: black;
}
.input-flex{
    display: flex;
    text-align: left;
    padding: 0px;
    align-items: flex-start;
    
}
.mor-type{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 12px;
}

.button-with-radio {
    position: relative;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 16px;
}

.button-with-radio input[type="radio"] {
    margin-right: 10px;
}


button{
    margin: 10px;
}
.cal-repayment-button{
    margin: 8px;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    background-color: yellow;
}

@media screen and (max-width:780px) {
    .contain1{
        display: flex;
        flex-direction: column;
        border-radius: 0px;
        height: 120vh;
        bottom: 0;
        margin: 0; 
        border: 2px solid red;
    }
    .Amount{
        display: flex;
        flex-direction: column;

    }
    .input-flex{
        position: relative;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contain{
        outline: none;
        justify-content: center;
        text-align: center;
        padding: px;
        margin: 0px;
        box-sizing: border-box;
        background-color: none;
        

    }
    }
    .contain2{
        outline: 3px solid rgb(229, 233, 10);
        width: fit-content;
        position: relative;
        height: inherit;
        /* border-radius: 0px; */
    }
